<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Perhitungan</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h2>Log Perhitungan</h2>
        <div class="data-table">
            <h3>Data Log Perhitungan</h3>
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Tanggal</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in log_perhitungan %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ row.tanggal }}</td>
                        <td>{{ row.username }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
